
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: uppercase;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCC;
}

form {
  width: 27.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #C1c1c1;
  border-radius: .25rem;

  h1 {
    font-size: 3rem;
    letter-spacing: .313rem;
    font-weight: 800;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      padding: 1rem;
      font-size: 1rem;
      border: solid .03rem;
      border-radius: .25rem;

      &:focus {
        outline-color: #C92071;
      }
    }

  }

  .show {
    display: flex;
    gap: .5rem;

    input {
      width: 1rem;
      accent-color: #C92071;
    }
  }

  button {
    padding: 1rem;
    font-size: 1rem;
    background-color: #C92071;
    border: none;
    border-radius: .25rem;
    color: #FFF;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: .313rem;

    &:hover {
      background-color: #991956;
    }
  }

  .smalls {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
}
